@charset"UTF-8";

/*
 *
 * Myanmar lists -- CSS3
 *
 */


/*
 * Numerical list types
 */

@counter-style myanmar {
    system: numeric;
    symbols: '\1040''\1041''\1042''\1043''\1044''\1045''\1046''\1047''\1048''\1049';
    /* symbols: ၀ ၁၂ ၃ ၄ ၅ ၆ ၇ ၈ ၉; */
    prefix: "";
    suffix: " ";
} 

@counter-style myanmar-parens {
    system: extends myanmar;
    prefix: "(";
    suffix: ") ";
}

@counter-style myanmar-section {
    system: extends myanmar;
    prefix: "";
    suffix: "။ ";
}

@counter-style shan {
	system: numeric;
	symbols: '\1090''\1091''\1092''\1093''\1094''\1045''\1096''\1097''\1098''\1099';
        /* symbols: ႐ ႑ ႒ ႓ ႔ ၅ ႖ ႗ ႘ ႙; */
	prefix: "";
	suffix: " ";
}

@counter-style shan-parens {
    system: extends shan;
    prefix: "(";
    suffix: ") ";
} 

/*
 * Alphabetic list types
 */

@counter-style burmese-consonant {
    system: alphabetic;
    symbols: '\1000''\1001''\1002''\1003''\1004''\1005''\1006''\1007''\1008''\100A''\100B''\100C''\100D''\100E''\100F''\1010''\1011''\1012''\1013''\1014''\1015''\1016''\1017''\1018''\1019''\101A''\101B''\101C''\101D''\101E''\101F''\1020''\1021';
    /* symbols: က ခ ဂ ဃ င စ ဆ ဇ ဈ ည ဋ ဌ ဍ ဎ တ ထ ဒ ဓ န ပ ဖ ဗ ဘ မ ယ ရ လ ဝ သ ဟ ဠ အ; */
    prefix: "(";
    suffix: ") ";
}

@counter-style burmese-consonant-double {
    system: alphabetic;
    symbols: '\1000\1000''\1001\1001''\1002\1002''\1003\1003''\1004\1004''\1005\1005''\1006\1006''\1007\1007''\1008\1008''\100A\100A''\100B\100B''\100C\100C''\100D\100D''\100E\100E''\1010\1010''\1011\1011''\1012\1012''\1013\1013''\1014\1014''\1015\1015''\1016\1016''\1017\1017''\1018\1018''\1019\1019''\101A\101A''\101B\101B''\101C\101C''\101D\101D''\101E\101E''\101F\101F''\1020\1020''\1021\1021';
    /* symbols: ကက ခခ ဂဂ ဃဃ ငင စစ ဆဆ ဇဇ ဈဈ ညည ဋဋ ဌဌ ဍဍ ဎဎ တတ ထထ ဒဒ ဓဓ နန ပပ ဖဖ ဗဗ ဘဘ မမ ယယ ရရ လလ ဝဝ သသ ဟဟ ဠဠ အအ; */
    prefix: "(";
    suffix: ") ";
}

@counter-style rakhine-consonant {
    system: alphabetic;
    symbols: '\1000''\1001''\1002''\1003''\1004''\1005''\1006''\1007''\1008''\100A''\100B''\100C''\100D''\100E''\100F''\1010''\1011''\1012''\1013''\1014''\1015''\1016''\1017''\1018''\1019''\101A''\101B''\101C''\101D''\101E''\101F''\1020''\1021';
    /* symbols: က ခ ဂ ဃ င စ ဆ ဇ ဈ ည ဋ ဌ ဍ ဎ တ ထ ဒ ဓ န ပ ဖ ဗ ဘ မ ယ ရ လ ဝ သ ဟ ဠ အ; */
    prefix: "(";
    suffix: ") ";
}

@counter-style tavoyan-consonant {
    system: alphabetic;
    symbols: '\1000''\1001''\1002''\1003''\1004''\1005''\1006''\1007''\1008''\100A''\100B''\100C''\100D''\100E''\100F''\1010''\1011''\1012''\1013''\1014''\1015''\1016''\1017''\1018''\1019''\101A''\101B''\101C''\101D''\101E''\101F''\1020''\1021';
    /* symbols: က ခ ဂ ဃ င စ ဆ ဇ ဈ ည ဋ ဌ ဍ ဎ တ ထ ဒ ဓ န ပ ဖ ဗ ဘ မ ယ ရ လ ဝ သ ဟ ဠ အ; */
    prefix: "(";
    suffix: ") ";
}

@counter-style intha-consonant {
    system: alphabetic;
    symbols: '\1000''\1001''\1002''\1003''\1004''\1005''\1006''\1007''\1008''\100A''\100B''\100C''\100D''\100E''\100F''\1010''\1011''\1012''\1013''\1014''\1015''\1016''\1017''\1018''\1019''\101A''\101B''\101C''\101D''\101E''\101F''\1020''\1021';
    /* symbols: က ခ ဂ ဃ င စ ဆ ဇ ဈ ည ဋ ဌ ဍ ဎ တ ထ ဒ ဓ န ပ ဖ ဗ ဘ မ ယ ရ လ ဝ သ ဟ ဠ အ; */
    prefix: "(";
    suffix: ") ";
}

@counter-style mon-consonant {
    system: alphabetic;
    symbols: '\1000''\1001''\1002''\1003''\1004''\1005''\1006''\1007''\1008''\100A''\100B''\100C''\100D''\100E''\100F''\1010''\1011''\1012''\1013''\1014''\1015''\1016''\1017''\1018''\1019''\101A''\101B''\101C''\101D''\101E''\101F''\1020''\1021';
    /* symbols: က ခ ဂ ဃ င စ ဆ ဇ ဈ ည ဋ ဌ ဍ ဎ တ ထ ဒ ဓ န ပ ဖ ဗ ဘ မ ယ ရ လ ဝ သ ဟ ဠ အ; */
    prefix: "(";
    suffix: ") ";
}

@counter-style mon-consonant {
    system: alphabetic;
    symbols: '\1000''\1001''\1002''\1003''\105A''\1005''\1006''\1007''\105B''\1009''\100A''\100B''\100C''\100D''\100E''\100F''\1010''\1011''\1012''\1013''\1014''\1015''\1016''\1017''\1018''\1019''\101A''\101B''\101C''\101D''\101E''\101F''\1020''\1021''\105C''\105D';
    /* symbols: က ခ ဂ ဃ ၚ စ ဆ ဇ ၛ ဉ ည ဋ ဌ ဍ ဎ ဏ တ ထ ဒ ဓ န ပ ဖ ဗ ဘ မ ယ ရ လ ဝ သ ဟ ဠ အ ၜ ၝ; */
    prefix: "(";
    suffix: ") ";
}

@counter-style sgaw-karen-consonant {
    system: alphabetic;
    symbols: '\1000''\1001''\1002''\1003''\1004''\1005''\1006''\1061''\100A''\1010''\1011''\1012''\1014''\1015''\1016''\1018''\1019''\101A''\101B''\101C''\101D''\101E''\101F''\1021''\1027';
    /* symbols: က ခ ဂ ဃ င စ ဆ ၡ ည တ ထ ဒ န ပ ဖ ဘ မ ယ ရ လ ဝ သ ဟ အ ဧ; */
    prefix: "(";
    suffix: ") ";
}

@counter-style western-pwo-karen-consonant {
    system: alphabetic;
    symbols: '\1000''\1001''\1002''\100E''\1004''\1005''\1006''\1007''\100A''\1061''\1010''\1011''\1012''\1014''\1015''\1016''\1018''\1019''\101A''\101B''\101C''\101D''\1065''\101F''\1021''\1027''\1066';
    /* symbols: က ခ ဂ ဎ င စ ဆ ဇ ည ၡ တ ထ ဒ န ပ ဖ ဘ မ ယ ရ လ ဝ ၥ ဟ အ ဧ ၦ; */
    prefix: "(";
    suffix: ") ";
}

@counter-style eastern-pwo-karen-consonant {
    system: alphabetic;
    symbols: '\1000''\1001''\1004''\1005''\1006''\100A''\1010''\1011''\100D''\1014''\106E''\1015''\1016''\105C''\1019''\101A''\101B''\101C''\101D''\101F''\1021';
    /* symbols: က ခ င စ ဆ ည တ ထ ဍ န ၮ ပ ဖ ၜ မ ယ ရ လ ဝ ဟ အ; */
    prefix: "(";
    suffix: ") ";
}

@counter-style poa-karen-consonant {
    system: alphabetic;
    symbols: '\1000''\1001''\1002''\1003''\1004''\1005''\1006''\1007''\1008''\100A''\100B''\100C''\100D''\100E''\100F''\1010''\1011''\1012''\1013''\1014''\1015''\1016''\1017''\1018''\1019''\101A''\101B''\101C''\101D''\101E''\101F''\1020''\1021';
    prefix: "(";
    suffix: ") ";
}

@counter-style kayah-consonant {
    system: alphabetic;
    symbols: '\1000''\1001''\1003''\1004''\1005''\1006''\1007''\100A''\1010''\1011''\1012''\1014''\1015''\1016''\1017''\1018''\1019''\101A''\101B''\101C''\101D''\101E''\101F''\1021';
    prefix: "(";
    suffix: ") ";
}

@counter-style asho-chin-consonant {
    system: alphabetic;
    symbols: '\1000''\1001''\1002''\1004''\1005''\1006''\1007''\100A''\1010''\1011''\1012''\1013''\1014''\1015''\1016''\1017''\1018''\1019''\101A''\101B''\1061''\101C''\101D''\101F''\1021''\1027';
    prefix: "(";
    suffix: ") ";
}

@counter-style shan-consonant {
    system: alphabetic;
    symbols: '\1075''\1076''\1077''\1004''\1078''\101E''\107A''\1079''\1010''\1011''\107B''\107C''\1015''\107D''\107E''\107F''\1019''\101A''\101B''\101C''\101D''\1080''\1081''\1022';
    prefix: "(";
    suffix: ") ";
}

@counter-style khamti-shan-consonant {
    system: alphabetic;
    symbols: '\1000''\1075''\AA71''\1002''\1004''\AA61''\AA62''\AA63''\AA64''\AA65''\AA66''\AA67''\AA68''\AA69''\107C''\1010''\1011''\107B''\AA6A''\AA6B''\1015''\1078''\107F''\1079''\1019''\101A''\101B''\101C''\101D''\AA6C''\AA6D''\AA6E''\1022''\AA6F''\1080';
    prefix: "(";
    suffix: ") ";
}

@counter-style aiton-consonant {
    system: alphabetic;
    symbols: '\1000''\1075''\1004''\AA61''\107A''\1010''\1011''\AA6B''\1015''\1078''\1019''\101A''\AA7A''\101C''\101D''\AA6D''\1022';
    prefix: "(";
    suffix: ") ";
}

@counter-style phake-consonant {
    system: alphabetic;
    symbols: '\1000''\1075''\1004''\AA61''\107A''\1010''\1011''\AA6B''\1015''\1078''\1019''\101A''\AA7A''\101C''\101D''\AA6D''\1022';
    prefix: "(";
    suffix: ") ";
}

@counter-style pale-palaung-consonant {
    system: alphabetic;
    symbols: '\1000''\1001''\1002''\1004''\1005''\1005 \103E''\1006''\1007''\100A''\1010''\1011''\1012''\1014''\1015''\1016''\1018''\1019''\101A''\101B''\101C''\101D''\101F''\1021''\101D \103E';
    prefix: "(";
    suffix: ") ";
}

@counter-style rumai-palaung-consonant {
    system: alphabetic;
    symbols: '\1000''\1001''\1002''\1004''\1005''\1006''\1007''\100A''\1010''\1011''\1012''\1014''\1015''\1016''\1018''\1019''\101A''\101B''\101C''\108E''\101D''\101F''\1021';
    prefix: "(";
    suffix: ") ";
}

/*
 * Unordered list types
 */

@counter-style dash {
    system: cyclic;
    symbols: \2013;
    /* – */
    suffix: " ";
}

/*
 * Default list rules
 */

ul {
    list-style: dash;
}

ol {
    list-style: myanmar-parens;
}

ol:lang(shn) {
	list-style: shan-parens;
}

/*
 * Burmese rules
 */

ol.alpha:lang(my) {
    list-style: burmese-consonant;
}

ol.alpha:lang(my) ol.alpha:lang(my) {

}

/*
 * Mon rules
 */

ol.alpha:lang(mnw) {
    list-style: mon-consonant;
}

/*
 * Shan rules
 */

 ol.alpha:lang(shn) {
 	list-style: shan-consonant;
 }
