/* @font-face {
    font-family: 'PadaukWeb';
    src: url('/i18n/fonts/Padauk.eot'); 
    src: url('/i18n/fonts/Padauk.eot?#iefix') format('embedded-opentype'),
                     url('/i18n/fonts/Padauk.woff') format('woff'), 
                     url('/i18n/fonts/Padauk.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PadaukWeb';
    src: url('/i18n/fonts/Padauk-bold.eot'); 
    src: url('/i18n/fonts/Padauk-bold.eot?#iefix') format('embedded-opentype'),
                     url('/i18n/fonts/Padauk-bold.woff') format('woff'), 
                     url('/i18n/fonts/Padauk-bold.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}
*/

/* body {font: 1.0em/1.6em 'Padauk Book',PadaukWeb; font-size-adjust: 0.43;} */
body {font: 1.0em/1.6em Panglong,TharLon;}

h1 {
    font-size: 2.0em;
    font-weight: normal;
    letter-spacing: -1px;
    -moz-font-feature-settings: "clig","liga";
    font-feature-settings: "clig","liga";
}
h2:before {
    content: counter(chapt, decimal) "။ " ;
    content: counter(chapt, shan) "။ " ;
    padding-right: 0.5em;
}
h2 {
   font-size: 1.4em;
   line-height: 1.7em;
   font-weight: normal;
   counter-increment: chapt;
   }
h3 {font-size: 1.2em; font-weight: bold;}

ol { counter-reset: item; }
ol li { display: block; }
ol li:before {
   content: "(" counter(item, decimal) ") ";
   content: "(" counter(item, shan) ") ";
   counter-increment: item;
}
