/* @font-face {
    font-family: 'PadaukWeb';
    src: url('/i18n/fonts/Padauk.eot'); 
    src: url('/i18n/fonts/Padauk.eot?#iefix') format('embedded-opentype'),
                     url('/i18n/fonts/Padauk.woff') format('woff'), 
                     url('/i18n/fonts/Padauk.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PadaukWeb';
    src: url('/i18n/fonts/Padauk-bold.eot'); 
    src: url('/i18n/fonts/Padauk-bold.eot?#iefix') format('embedded-opentype'),
                     url('/i18n/fonts/Padauk-bold.woff') format('woff'), 
                     url('/i18n/fonts/Padauk-bold.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}
*/

/* body {font: 1.0em/1.6em 'Padauk Book',PadaukWeb; font-size-adjust: 0.43;} */
body {font: 1.0em/1.6em TharLon; }

h1 {
font: 3.0em 'Myanmar3 Head',Myanmar3h;
font-weight: normal;
letter-spacing: -1px;
-moz-font-feature-settings: "clig","liga";
font-feature-settings: "clig","liga";
}

h2 {font-size: 1.4em; font-weight: bold;}

ol { counter-reset: item; }
ol li { display: block; }
ol li:before {
   content: "(" counter(item, decimal) ") ";
   content: "(" counter(item, -moz-myanmar) ") ";
   content: "(" counter(item, myanmar) ") ";
   counter-increment: item;
}

p#second:first-letter { float: left; color: #903; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family:'Myanmar3 Head',Myanmar3h; }

p:first-child {color: darkgreen; font-weight: bold; }